body{
    background: #00040F;

}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:  #FFFFFF;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    opacity: 50%;
    
}
a:hover{
    opacity: 70%;
}
.row{
    display: flex;
}
.a-1{
    margin-left: 900px;
    margin-top: 30px;

}
.logo-1{
  margin-top: 12px;
    position: absolute;
    margin-left: 60px;
}
.logo-2{
    position: absolute;
    margin-top: 20px;
    margin-left: 120px;
}
.text{
    margin-top: 200px;
    margin-left:60px ;
}
.hand{
    position: absolute;
    margin-left: 350px;
    width: 600px;
    margin-top: 100px;
}
.shadow{
    position: absolute;
    margin-left: 250px;
}
.h1-1{
    color: white;
    position: absolute;
 font-size: 72px;
 font-family: "Poppins", sans-serif;
 margin-left: 60px;
}
span{
    position: absolute;
   color: aqua;
   font-family: "Poppins", sans-serif;
   font-size: 72px;

margin-top: -80px;
   

}
p{
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    margin-top: 350px;
    margin-left: 60px;
    color: white;
    opacity: 60%;
}
.get{
    position: absolute;
    margin-left: 450px;
    margin-top: -380px;
    margin-left: 500px;
}
.hi{
   position: absolute;
    margin-top: 130px;
    margin-left: 140px;
}
.h1-11{
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    margin-top: 400px;
    margin-left: 60px;
}
.p-22{
    margin-left: 60px;
   margin-top: -7px;
}
button{
    width: 170px;
height: 64px;
top: 1432px;
left: 135px;
gap: 0px;
border-radius: 15px 15px 15px 15px;
opacity: 0px;
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
font-family: "Poppins", sans-serif;
font-weight: bold;
margin-left: 60px;



}
.box-1{
    background-color: red;
    width: 220px;
    margin-left: 900px;
    width: 470px;
height: 115px;
top: 1258px;
left: 835px;
gap: 0px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;
box-shadow: 0px 20px 100px -10px ;
background-color: #00040F;
transition: 0.5s;
margin-top: -250px;


}
.box-1:hover{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
transform: scale(1.1);
transition: 0.5s;

}
h3{
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 100px;
    margin-top: -45px;
   
}
.p-33{
    font-family: "Poppins", sans-serif;
    margin-top: -10px;
    margin-left: 95px;
   

    
}
.box-2{
    background-color: red;
    width: 220px;
    margin-left: 900px;
    width: 470px;
height: 115px;
top: 1258px;
left: 835px;
gap: 0px;
border-radius: 20px 20px 20px 20px;
opacity: 0px;
box-shadow: 0px 20px 100px -10px ;
background-color: #00040F;
transition: 0.5s;

margin-top: 20px;


}
.box-2:hover{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
transform: scale(1.1);
transition: 0.5s;

}
.box-3{
    background-color: red;
    width: 220px;
    margin-left: 900px;
    width: 470px;
height: 115px;

border-radius: 20px 20px 20px 20px;
opacity: 0px;
box-shadow: 0px 20px 100px -10px ;
background-color: #00040F;
transition: 0.5s;

margin-top: 20px;


}
.box-3:hover{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
transform: scale(1.1);
transition: 0.5s;

}
.paypal{
    width: 530px;
    position: absolute;
    margin-left: 60px;
    margin-top: 160px;
}
.h1-22{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    position: absolute;
    color: #FFFFFF;
    margin-left: 900px;
    margin-top: 250px;
}
.p-44{
    font-family: "Poppins", sans-serif;
    margin-left: 900px;
    margin-top: 400px;
}
.play{
    width: 145px;
    margin-left: 900px;
}
.play-2{
    position: absolute;
   
    width: 145px;
   margin-left: 30px;
   margin-top: 3px;
}
.card{
    width: 513px;
    position: absolute;
    margin-left: 600px;
    margin-top: -200px;
}
.h1-55{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 400px;
}
.p-55{
    font-family: "Poppins", sans-serif;
    margin-left: 900px;  
    margin-top: -100px;
}
.row{
    gap: 25px;
}
.card-1{
    width: 370px;
height: 395px;
background-color: #00040F;
border-radius: 20px 20px 20px 20px;
transition: 0.5s;
margin-left: 80px;
margin-top: 150px;
}
.card-1:hover{
    background: rgb(89,138,147);
    background: radial-gradient(circle, rgba(89,138,147,1) 58%, rgba(28,33,38,1) 100%);
    transform: scale(1.1);
    transition: 0.5s;
}
.logo-11{
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}
.p-66{
    position: absolute;
    margin-left: 30px;
  margin-top: 120px;
}
.img-55{
    margin-top: 250px;
    position: absolute;
    margin-left: 30px;
}
h4{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 250px;
    color: #FFFFFF;
}
.p-77{
    margin-top: -25px;
    margin-left: 100px;
}
.business{
    margin-left: 150px;
    margin-top: 50px;
}
.big{
    width: 1170px;
height: 293px;
background: rgb(39,63,68);
background: radial-gradient(circle, rgba(39,63,68,1) 0%, rgba(52,95,106,1) 100%);
border-radius: 20px;
margin-left: 120px;
margin-top: 100px;

}
.p-88{
font-size: 18px;
position: absolute;
margin-top: -50px;
margin-top: 200px;
margin-left: 80px;
}
.h1-66{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    color: white;
    margin-left: 80px;
    margin-top: 100px;
    position: absolute;
}
.best{
    margin-left: 800px;
    margin-top: 150px;
}
.team{
   position: absolute;
   margin-top:-200px ;
    margin-left:600px;
}
.team-3{
    position: absolute;
    margin-left: 1100px;
    margin-top: -200px;
}
.team-2{
    position: absolute;
   margin-left: 900px;
   margin-top:-200px ;
}
.p-99{
    margin-left: 120px;
}
.hoo{
    position: absolute;
    margin-top: -100px;
    margin-left: 120px;
}
.line{
    margin-top: 50px;
    margin-left: 120px;
}
.hz{
    position: absolute;
    margin-left: 1100px;
    margin-top: -30px;
 
}
    .p-100{
        margin-top: -1px;
        margin-top: 50px;
        margin-left: 120px;
       
      
    }



